{% load static %}
<!DOCTYPE html>
<html lang="en">
  {%include 'head.html'%}
  <body>
    {% include 'navbar2.html' %}

    <section class="hero">
      <div class="hero-content">
        <h1 class="hero-heading">Resume Parsing</h1>
      </div>
    </section>

    <section class="services" id="services">
      <h1>Parse Your Resume</h1>
      <div class="services-box">

        <div class="box">
            <i class="fas fa-code fa-2x"></i>
            <div class="box-content">
              <img class="card-img-top" src="{% static 'images/resume-parsing.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
              </p>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-code fa-2x"></i>
            <div class="box-content">
              <img class="card-img-top" src="{% static 'images/resume-parsing.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
              </p>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-code fa-2x"></i>
            <div class="box-content">
              <img class="card-img-top" src="{% static 'images/resume-parsing.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
              </p>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-code fa-2x"></i>
            <div class="box-content">
              <img class="card-img-top" src="{% static 'images/resume-parsing.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
              </p>
            </div>
        </div>
        
        <div>
            <p></p>
        </div>
      </div>
    </section>

    <div class="Info">
      <h2 class="text">
        <a href="{% static 'images/resume-parsing.png' %}"
          >Want to Convert the Format of Your File ? We got You Covered
        </a>
      </h2>
    </div>
  </body>
</html>
